element.style {
    max-width: 236px;
    height: 354px;
    margin: 0px;
    width: 236px;
}
<style>
.r48jcc.iPVvYb {
    background-color: #fff;
    background-image: linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef);
    background-position: 0 0,10px 10px;
    background-size: 21px 21px;
}
<style>
.r48jcc {
    flex: 1;
    min-height: 0;
    min-width: 0;
    object-fit: contain;
    width: 100%;
}
img {
    border: none;
}
* {
    -webkit-tap-highlight-color: transparent;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
a {
    text-decoration: none;
    color: #2962ff;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
<style>
.MAtCL {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: flex-start;
    line-height: 0;
    margin: 0 auto;
    min-height: 20vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 3;
}
.l39u4d {
    box-sizing: border-box;
    display: inline-block;
    height: 100vh;
    transform: translateZ(0);
    vertical-align: top;
    white-space: normal;
}
.mJxzWe {
    display: block;
    height: 100%;
    min-width: 908px;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
}
body {
    background-color: #fff;
    color: rgba(0,0,0,0.87);
    font-family: Roboto,HelveticaNeue,Arial,sans-serif;
    font-size: small;
    margin: 0;
    position: relative;
    -webkit-font-smoothing: auto;
}
body {
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,.87);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    text-size-adjust: 100%;
}